<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All Ads example:</h2>
<div th:each="ad : ${ads}">
    <h3 th:text="${ad.title}"></h3>
    <p th:text="${ad.description}" />
</div>


<h2>A single ad:</h2>
<div>
    <h3>Check out the community's top voted ad:</h3>
    <h3 th:text="${topAd.title}"></h3>
    <p th:text="${topAd.description}"></p>
</div>

<h2>A search result:</h2>
<div>
    <h3>You searched for 'childcare', and here are our results:</h3>
    <h3 th:text="${searchAd.title}"></h3>
    <p th:text="${searchAd.description}"></p>
</div>
</body>
</html>